.container,
.light_theme_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  background-color: #1f1f1f;
  color: #ebebeb;
  border-radius: 8px;
}
.light_theme_container {
  background-color: #aeaeae;
  font-weight: 400;
  color: #1f1f1f;
}

/* Header */
.header_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 1rem;
}
.back_btn {
  font-size: 0.6rem;
  color: #3d59fd;
  border: none;
  background: transparent;
  cursor: pointer;
}
.back_btn:hover {
  text-decoration: underline;
}

.help_btn,
.light_theme_help_btn {
  background-color: #0d0d0d;
  color: #ebebeb;
  width: 0.8rem;
  height: 0.8rem;
  padding: 0.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  margin-right: 0.2rem;
}
.light_theme_help_btn {
  color: #1f1f1f;
  background-color: #aeaeae;
}

.header {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: "kanit";
}
/* Header end */

/* Combo input buttons */
.comboBtns_container,
.light_theme_comboBtns_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color: #ebebeb;
}
.light_theme_comboBtns_container {
  color: #1f1f1f;
}
.addInput_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d59fd;
  width: 1.1rem;
  height: 1.1rem;
  padding: 1.1rem;
  color: #ebebeb;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
.addInput_btn:hover {
  background-color: #1e3ffc;
  transition: all 0.1s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}

.removeInput_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d59fd;
  border-radius: 8px;
  font-size: 0.72rem;
  text-align: center;
  width: auto;
  padding: 0.3rem;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
}
.removeInput_btn:hover {
  background-color: #f33434;
}

/* String handling buttons */
.stringHandleBtn_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
}

.addString_btn,
.resetStrings_btn {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  padding: 0.5rem;
  border: none;
  background-color: #3d59fd;
  cursor: pointer;
  color: #ebebeb;
}
.addString_btn:hover {
  background-color: #1e3ffc;
  transition: all 0.3s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}

.resetStrings_btn:hover {
  background-color: #f33434;
  transition: all 0.3s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}

.saveStrings_btn {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  margin-top: 1rem;
  font-size: 0.8rem;
  padding: 0.6rem;
  border: none;
  background-color: #3d59fd;
  cursor: pointer;
  color: #ebebeb;
}
.saveStrings_btn:hover {
  background-color: #1e3ffc;
  transition: all 0.3s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.saveStrings_btn:disabled {
  /* Styles for disabled button */
  background-color: gray;
  color: white;
  opacity: 0.5;
  cursor: not-allowed;
}
/* String handling buttons END */

/* Combo input buttons */
.buttonInputs_container {
  display: flex;
}
.buttonInputs_row_container {
  display: flex;
  width: 32rem;
  flex-direction: column;
}
.buttonInputs_row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.buttonInput_container {
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.buttonInput {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: transparent;
}
.buttonInput:hover {
  background-color: #3d59fd;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.buttonInput_text {
  font-size: 0.6rem;
  width: 7rem;
  text-align: center;
}

.mechanicButtonInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0.3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
}
.mechanicButtonInput:hover {
  background-color: #3d59fd;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.mechanicButton_text {
  font-size: 0.65rem;
  text-align: center;
  color: #ebebeb;
  width: 5rem;
  margin-top: -0.2rem;
}

.mechanicsColumn_container {
  display: flex;
  flex-direction: column;
  height: 18rem;
}

/* Actual combo strings */

.comboStrings_container {
  background-color: #292929;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 98.5%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  border-radius: 8px;
}
.comboString_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comboString {
  margin: 0.8rem;
}
.comboString_string_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comboString_input {
  text-align: center;
  font-size: 0.7rem;
  color: #ebebeb;
  width: auto;
  padding: 0.2rem;
  background-color: #161616;
  border-radius: 12px;
  border: none;
  margin-bottom: 0.5rem;
}
.comboStringRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1f1f1f;
  margin-left: 0.2rem;
  border-radius: 8px;
  cursor: pointer;
}
.comboStringRow:hover {
  background-color: #f33434;
}
.comboString_text {
  margin-top: 0.3rem;
  font-size: 0.8rem;
}

/* Initial State items */

.initialState_container {
  /* div */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #1f1f1f;
}
.inititialState_header {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.initialState_btn_wrapper {
  /* div */
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background-color: #292929;
  padding: 0.5rem;
}

.inititialState_btn {
  /* button */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 4rem;
  padding: 1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 8px;
}
.inititialState_btn:hover {
  background-color: #3d59fd;
}
.inititialState_btn_text {
  color: #ebebeb;
  font-size: 0.7rem;
  margin-top: 0.3rem;
  font-family: "Kanit";
}
