.page_container {
  background-color: black;
}
.light_theme_page_container {
  background-color: #dcdcdc;
}

.page_container,
.light_theme_page_container {
  transition: background-color 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.mobileMessage {
  display: none;
}
.container {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.rowTitle,
.light_theme_rowTitle {
  font-family: "Kanit";
  letter-spacing: 0.1rem;
  font-style: italic;
  color: #ebebeb;
  margin-top: 0.8rem;
  margin-bottom: 0.6rem;
}
.light_theme_rowTitle {
  color: #1f1f1f;
}

.featured_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25rem;
  margin-bottom: 1rem;
}
.featuredCard {
  border-radius: 8px;
  overflow: hidden;
  width: 50%;
  object-fit: contain;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}

.featuredDesc_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 100%;
}

.featuredDesc_header,
.light_theme_featuredDesc_header {
  font-size: 2.7rem;
  font-family: "Kanit";
  color: #ebebeb;
}
.light_theme_featuredDesc_header {
  color: #1f1f1f;
}

.featuredDesc_textBody,
.light_theme_featuredDesc_textBody {
  font-size: 1.2rem;
  max-width: 31rem;
  color: #ebebeb;
}
.light_theme_featuredDesc_textBody {
  color: #1f1f1f;
}

.featuredDesc_CTA {
  color: #ebebeb;
  width: 20rem;
  height: 3.5rem;
  padding: 0.5rem;
  text-align: center;
  font-family: "Kanit";
  background-color: #5263fa;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.featuredDesc_CTA:hover {
  background-color: #3b3efc;
}

.upcomingRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.upcomingRow {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.upcoming_left,
.upcoming_right {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 18rem;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}

.featuredCard:hover,
.upcoming_left,
.upcoming_right {
  transform: scale(1.03);
}
.featuredCard:hover .featured_cardTitle,
.upcoming_left:hover .cardTitle {
  visibility: visible;
}

.upcoming_right:hover .cardTitle {
  visibility: visible;
}
.featuredCard:hover .featured_img,
.upcoming_left:hover .cardImage {
  transform: scale(1.1);
}

.upcoming_right:hover .cardImage {
  transform: scale(1.1);
}

.upcoming_left {
  flex-basis: 48%;
}

.upcoming_right {
  flex-basis: 48%;
}

.ongoingRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
  column-gap: 2.5rem;
}

.card {
  position: relative;
  width: 100%;
  pointer-events: none;
  cursor: not-allowed;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.cardImageContainer {
  display: flex;
  justify-content: flex-end;
  height: 15rem;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.cardWIP {
  background-color: #1f1f1f;
  width: 2.5rem;
  height: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fcd12a;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  border-radius: 2px;
  z-index: 98;
}

.featured_img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
  object-fit: cover;
}

.cardImage {
  filter: grayscale(100%);
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
  object-fit: cover;
}

.cardTitle,
.featured_cardTitle {
  visibility: hidden;
  background-color: #1f1f1f;
  width: auto;
  border-radius: 10px;
  position: absolute;
  height: 2.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: "Kanit";
  font-style: italic;
  font-weight: 600;
  color: white;
  z-index: 9;
  transition: all 0.1s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.featured_cardTitle {
  margin-left: 1rem;
}
.card:hover .cardImage {
  transform: scale(1.1);
}
.card:hover .cardTitle {
  transform: translateY(0);
}
@media (max-width: 480px) {
  .page_container {
    display: none;
  }
  /* Styles for mobile devices */
  .mobileMessage {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #dcdcdc;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
}
