.container,
.light_theme_container {
  display: flex;
  justify-content: center;
  background-color: #000;
  flex-direction: column;
  min-height: 55rem;
  transition: background-color 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}
.light_theme_container {
  background-color: #dcdcdc;
}

.notFoundMessage {
  margin-top: 6rem;
  text-align: center;
  color: #ebebeb;
}

.combos_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.pageNum_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 50%;
  height: 6rem;
  padding: 1rem;
  height: 5rem;
  padding: 1rem;
  margin-bottom: 3rem;
}
.pageNum_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
.pageNum,
.light_theme_pageNum {
  color: #ebebeb;
  background: transparent;
  border: none;
  font-size: 1rem;
  font-family: "Kanit";
  cursor: pointer;
  border-radius: 4px;
  padding: 0.1rem 0.5rem;
  transition: 0.15s cubic-bezier(0.7, 0, 0.3, 1);
}
.light_theme_pageNum {
  color: #1f1f1f;
}
.pageNum:hover,
.light_theme_pageNum:hover {
  background-color: #fc3434;
  color: #ebebeb;
}
.currentPageNum {
  color: #fc3434;
}

.pageNum_next_btn,
.pageNum_back_btn {
  width: 0;
  height: 0;
  border-top: 0.4rem solid transparent;
  border-left: 0.6rem solid #fc3434;
  border-bottom: 0.4rem solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: 0.15s cubic-bezier(0.7, 0, 0.3, 1);
}
.pageNum_back_btn {
  border-left: 0;
  border-right: 0.6rem solid #fc3434;
}
.pageNum_back_btn:disabled,
.pageNum_next_btn:disabled {
  visibility: hidden;
}

/* Filtering Options */

.filterOptions_container {
  margin-top: 2rem;
  align-self: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}

.filter_header,
.light_theme_filter_header {
  font-size: 0.75rem;
  font-family: "Kanit";
  color: #ebebeb;
  margin-right: 0.8rem;
}
.light_theme_filter_header {
  color: #1f1f1f;
}

.filterBtn_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 21rem;
}

.filter_btn,
.filter_btn_selected {
  font-size: 0.65rem;
  letter-spacing: 0.05rem;
  padding: 0.4rem;
  background-color: #dcdcdc;
  color: #000;
  border-radius: 4px;
  border: none;
  font-family: "Kanit";
  text-align: center;
  transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
  cursor: pointer;
}
.filter_btn:hover {
  color: #ebebeb;
  background-color: #fc3434;
}

.filter_btn_selected {
  color: #ebebeb;
  background-color: #fc3434;
}

.rateWarning_open {
  position: fixed;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  width: auto;
  top: 3.2%;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: #424242;

  color: #ebebeb;
  z-index: 9;
}
.rateWarning_text {
  margin-left: 0.2rem;
  margin-right: 0.8rem;
}
.rateWarningTime {
  color: #ffc74d;
}
.rateWarning_close_btn {
  width: 1.1rem;
  height: 1.1rem;
  position: absolute;
  font-size: 0.7rem;
  top: 6%;
  right: 0.6%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #e6e6e6;
}
.rateWarning_close_btn:hover {
  color: #ebebeb;
  background-color: #1a1a1a;
  border-radius: 100%;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.rateWarning_close_btn:not(:hover) {
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}

.rateWarning_closed {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.5rem;
  border: none;
  bottom: 2%;
  right: 96%;
  border-radius: 100%;
  cursor: pointer;
  background-color: #ffc74d;
  color: #000;
  z-index: 9;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.rateWarning_closed:hover {
  background-color: #ffc74d;
  width: 2.3rem;
  height: 2.3rem;
}

/* Media queries */
@media screen and (min-width: 1920px) {
  .light_theme_pageNum,
  .pageNum {
    font-size: 1.4rem;
  }
}
/* Styles for 1600x900 */
@media screen and (min-width: 1600px) and (max-width: 1919px) {
}

/* Styles for 1536x864 */
@media screen and (min-width: 1536px) and (max-width: 1599px) {
}

/* Styles for 1440x900 */
@media screen and (min-width: 1440px) and (max-width: 1535px) {
}
