.page_container {
  background-color: #292929;
}
.light_theme_page_container {
  background-color: #dcdcdc;
}

.page_container,
.light_theme_page_container {
  transition: background-color 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.mobileMessage {
  display: none;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.rowTitle,
.light_theme_rowTitle {
  font-family: "Kanit";
  letter-spacing: 0.1rem;
  font-style: italic;
  color: #dcdcdc;
  margin-top: 3rem;
  margin-bottom: 0.6rem;
}
.light_theme_rowTitle {
  color: #1f1f1f;
}

.featuredRow,
.upcomingRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.upcomingRow {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.featuredCard_left,
.featuredCard_mid,
.featuredCard_right,
.upcoming_left,
.upcoming_right {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 18rem;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}

.featuredCard_left {
  filter: none;
  flex-basis: 40%;
}
.featuredCard_mid {
  display: flex;
  justify-content: space-between;
  flex-basis: 31.5%;
  pointer-events: none;
  cursor: not-allowed;
}
.featuredCard_right {
  display: flex;
  justify-content: space-between;
  flex-basis: 22.5%;
  pointer-events: none;
  cursor: not-allowed;
}
.featuredCard_left:hover,
.featuredCard_mid:hover,
.featuredCard_right:hover,
.upcoming_left,
.upcoming_right {
  transform: scale(1.03);
}
.featuredCard_left:hover .cardTitle,
.upcoming_left:hover .cardTitle {
  visibility: visible;
}
.featuredCard_mid:hover .cardTitle {
  visibility: visible;
}
.featuredCard_right:hover .cardTitle,
.upcoming_right:hover .cardTitle {
  visibility: visible;
}
.featuredCard_left:hover .cardImage,
.upcoming_left:hover .cardImage {
  transform: scale(1.1);
}
.featuredCard_mid:hover .cardImage {
  transform: scale(1.1);
}
.featuredCard_right:hover .cardImage,
.upcoming_right:hover .cardImage {
  transform: scale(1.1);
}

.upcoming_left {
  flex-basis: 48%;
}

.upcoming_right {
  flex-basis: 48%;
}

.ongoingRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
  column-gap: 2.5rem;
}

.card {
  position: relative;
  width: 100%;
  pointer-events: none;
  cursor: not-allowed;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.cardImageContainer {
  display: flex;
  justify-content: flex-end;
  height: 15rem;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.cardWIP {
  background-color: #1f1f1f;
  width: 2.5rem;
  height: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fcd12a;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  border-radius: 2px;
  z-index: 98;
}

.cardImage,
.cardVideo {
  filter: grayscale(100%);
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
  object-fit: cover;
}
.cardVideo {
  filter: none;
  /*   opacity: 0;
  transition: opacity 15s; */
}
.truecardVideo {
  /*   opacity: 1;
  filter: grayscale(100%); */
}

.cardTitle {
  visibility: hidden;
  background-color: #1f1f1f;
  width: auto;
  border-radius: 10px;
  position: absolute;
  height: 2.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: "Kanit";
  font-style: italic;
  font-weight: 600;
  color: white;
  z-index: 99;
  transition: all 0.1s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.card:hover .cardImage {
  transform: scale(1.1);
}
.card:hover .cardTitle {
  transform: translateY(0);
}
@media (max-width: 480px) {
  .page_container {
    display: none;
  }
  /* Styles for mobile devices */
  .mobileMessage {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #dcdcdc;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
}
