.container,
.light_theme_container {
  display: flex;
  justify-content: center;
  background-color: #000;
  flex-direction: column;
  transition: background-color 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}
.light_theme_container {
  background-color: #dcdcdc;
}

.notFoundMessage {
  margin-top: 6rem;
  text-align: center;
  color: #ebebeb;
}

.combos_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
