/* Input row */
.inputs_parent {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expand_btn {
  cursor: pointer;
  border: none;
  width: 3.2rem;
  background: #69eec3;
  font-size: 0.6rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-family: "Kanit";
}

/* Social row */
.comboCard_social__container {
  visibility: hidden;
  align-items: center;
  position: relative;
  margin-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  top: -10px;
  transition: all 0.1s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}

.comboCard_hugger:hover .comboCard_social__container {
  top: 0;
  visibility: visible;
}

.comboCard_hugger:not(:hover) .comboCard_social__container {
  transition: all 0.1s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}

.bookmark__btn,
.share__btn {
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 1.3rem;
  cursor: pointer;
  margin-right: 1rem;
}

.tag_container {
  width: auto;
  display: flex;
  justify-content: space-evenly;
}
.socialOptions_container {
  width: auto;
}
.social_text,
.light_theme_social_text {
  color: #ebebeb;
  font-size: 0.7rem;
}
.light_theme_social_text {
  color: #0f0f0f;
}

.tag_text {
  font-family: "Kanit";
  color: #5263fa;
  font-style: italic;
  font-size: 0.9rem;
}
.tag_btn {
  background-color: transparent;
  border: none;
  color: #5263fa;
  font-size: 0.75rem;
  padding-left: 0.8rem;
}

/* Major containers */
.comboCard_wrapper {
  display: flex;
  align-items: center;
  margin-left: 8rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
/* Upvote container */
.upvote_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.upvote_btn_,
.light_theme_upvote_btn_,
.upvote_btn_upvote,
.light_theme_upvote_btn_upvote {
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.8rem solid #ebebeb;
  background-color: transparent;
  cursor: pointer;
}
.upvote_btn_upvote,
.light_theme_upvote_btn_upvote {
  border-bottom: 0.8rem solid #5263fa;
}
.light_theme_upvote_btn_ {
  border-bottom: 0.8rem solid #0f0f0f;
}

.votes,
.light_theme_votes,
.votes_voted,
.light_theme_votes_voted {
  font-size: 1rem;
  color: #ebebeb;
  font-family: "Kanit";
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.light_theme_votes {
  color: #0f0f0f;
}
.votes_voted,
.light_theme_votes_voted {
  color: #5263fa;
}

.downvote_btn_,
.light_theme_downvote_btn_,
.downvote_btn_downvote,
.light_theme_downvote_btn_downvote {
  width: 0;
  height: 0;
  border-bottom: 0;
  background-color: transparent;
  cursor: pointer;
  border-top: 0.8rem solid #ebebeb;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
}
.downvote_btn_downvote,
.light_theme_downvote_btn_downvote {
  border-top: 0.8rem solid #5263fa;
}
.light_theme_downvote_btn_ {
  border-top: 0.8rem solid #0f0f0f;
}

.comboCard_hugger {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #111111;
}
.comboCard_container {
  display: flex;
  width: 100%;
}

/* Post title container */
.postTitle_container {
  display: flex;
  align-items: center;
  color: #ebebeb;
  margin-bottom: 1rem;
}
.postTitle,
.light_theme_postTitle {
  color: #ebebeb;
  font-family: "Kanit";
  font-size: 1rem;
  margin-right: 0.3rem;
}
.light_theme_postTitle {
  color: #0f0f0f;
}

.postedBy,
.light_theme_postedBy {
  color: #ebebeb;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
.light_theme_postedBy {
  color: #0f0f0f;
}
.postedBy_authorName {
  color: #5263fa; /* ACCENT COLOR */
  font-family: "Kanit";
  margin-right: 0.2rem;
  margin-left: 0.1rem;
}
.patchVersion {
  background-color: #292929;
  border-radius: 4px;
  color: #fad843;
  font-size: 0.55rem;
  padding: 0.3rem;
  margin-left: 1rem;
  margin-top: 0.2rem;
}

/* Avatar section */
.avatar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7rem;
}
.avatar_name,
.light_theme_avatar_name {
  color: #ebebeb;
  font-family: "Kanit";
  font-style: italic;
  font-size: 1rem;
  margin-top: 0.6rem;
}
.light_theme_avatar_name {
  color: #0f0f0f;
}
.avatar_frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6.8rem;
}
.avatar_img {
  border-radius: 8px;
  position: absolute;
  object-fit: cover;
}

/* Stats and combo container */
.statsAndCombo_container {
  display: flex;
  margin-left: 0.8rem;
  flex-direction: column;
}

/* Stats section */
.stats_container {
  display: flex;
  align-items: center;
  color: #ebebeb;
  margin-bottom: 0.3rem;
}

.mechanic_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 2rem;
  margin-top: 0.5rem;
}
.mechanic,
.driveRush,
.initialState {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0.2rem;
  background-color: deeppink;
  width: auto;
  font-size: 1rem;
  font-family: "Kanit";
}
.mechanic_text,
.light_theme_mechanic_text {
  color: #ebebeb;
  font-size: 0.55rem;
}
.light_theme_mechanic_text {
  color: #0f0f0f;
}
.driveRush {
  background-color: #39a141;
  border-radius: 4px;
  width: 2rem;
}
.initialState {
  position: relative;
  background-color: #000;
  width: 2rem;
}

.dmg_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    #a11629 1.52%,
    #bc1a3b 30.25%,
    #d5204e 64.61%,
    #ea2557 100%
  );
  color: #ebebeb;
  padding: 0.3rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.dmg_stat_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dmg_stat_text {
  font-size: 0.6rem;
}
.dmg_dot {
  width: 0.25rem;
  height: 0.25rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  border-radius: 100%;
  background-color: white;
}
.dmg_stat_number,
.dmg_stat_dmgPercent {
  font-size: 1.1rem;
  font-family: "kanit";
  margin-left: 0.6rem;
}
.dmg_stat_dmgPercent {
  margin-left: 0;
  margin-right: 0.2rem;
}
.screenPos,
.light_theme_screenPos {
  color: #ebebeb;
  font-size: 0.9rem;
  margin-left: 1.1rem;
  font-family: "Kanit";
  letter-spacing: 0.04rem;
}
.light_theme_screenPos {
  color: #0f0f0f;
}
/* Stat section END */

/* ComboCard Inputs Container */
.inputs__container,
.light_theme_inputs__container {
  display: flex;
  align-items: center;
  width: auto;
  background-color: #0f0f0f;
  border-radius: 8px;
  overflow: hidden;
  padding: 0.5rem;
}
.light_theme_inputs__container {
  background-color: #b9b7b7;
}

.comboStringRow {
  display: flex;
  align-items: center;
}

.comboString,
.light_theme_comboString {
  color: #ebebeb;
  margin: 0.4rem;
  white-space: nowrap; /* Prevent text from wrapping */
}
.light_theme_comboString {
  color: #1f1f1f;
}

.comboString_string_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plusSign {
  margin-left: -0.3rem;
  margin-right: -1rem;
}
.comboArrow {
  border: solid #5263fa;
  border-width: 0 0.125rem 0.125rem 0;
  display: inline-block;
  padding: 0.15rem;
  margin-left: 0.5rem;
  margin-right: 0.8rem;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.input_text,
.light_theme_input_text {
  color: #ebebeb;
  font-size: 0.6rem;
}
.light_theme_input_text {
  color: #0f0f0f;
  font-weight: bold;
}

.initialStateDesc_text {
  position: absolute;
  background-color: #0f0f0f;
  color: #ebebeb;
  font-family: "Kanit";
  letter-spacing: 0.06rem;
  text-align: center;
  border-radius: 8px;
  z-index: 2;
  top: 13.7rem;
  left: 36.5rem;
  font-size: 0.7rem;
  padding: 0.3rem;
}
/* .comboCard_container:hover .initialStateDesc_text {
  display: block;
  position: absolute;
}
 */
