.bigboi {
  background: url("/bgTexture.jpg"), #e6e6e6;
  object-fit: fill;
  background-blend-mode: color-burn, normal;
}

.container {
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.featuredCard_left,
.featuredCard_mid,
.featuredCard_right {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 18rem;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.featuredCard_left {
  flex-basis: 40%;
}
.featuredCard_mid {
  flex-basis: 31.5%;
}
.featuredCard_right {
  flex-basis: 22.5%;
}
.featuredCard_left:hover,
.featuredCard_mid:hover,
.featuredCard_right:hover {
  transform: scale(1.05);
}
.bottomRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.card {
  position: relative;
  width: 100%;
  height: 15rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.cardImageContainer {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.cardImage {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.cardTitle {
  visibility: hidden;
  background-color: #0f0f0fd5;
  width: auto;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: "Kanit";
  font-style: italic;
  font-weight: 600;
  color: white;
  z-index: 99;
  transition: all 0.1s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.featuredCard_left:hover .cardTitle {
  visibility: visible;
}
.featuredCard_mid:hover .cardTitle {
  visibility: visible;
}
.featuredCard_right:hover .cardTitle {
  visibility: visible;
}
.featuredCard_left:hover .cardImage {
  transform: scale(1.1);
}
.featuredCard_mid:hover .cardImage {
  transform: scale(1.1);
}
.featuredCard_right:hover .cardImage {
  transform: scale(1.1);
}
.card:hover .cardImage {
  transform: scale(1.05);
}

.card:hover .cardTitle {
  transform: translateY(0);
}

.button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #555;
}
