.container,
.light_theme_container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #292929;
  width: 100%;
  flex-direction: column;
}
.light_theme_container {
  background-color: #dcdcdc;
}
