.footer_container,
.light_theme_footer_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  color: #ebebeb;
}
.light_theme_footer_container {
  color: #1f1f1f;
}

.submenu_parent {
  display: flex;
  width: 100%;
  height: 10rem;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}
.submenu_combosPage_container {
  margin-left: 5.6rem;
}

.submenu_combosPage_container,
.submenu_upcoming_container {
  display: flex;
  width: 15rem;
  flex-direction: column;
}
.submenu_upcoming_container {
  height: 9.2rem;
}
.langOptions_container {
  width: 15rem;
}
.submenu_header {
  font-family: "Kanit";
  font-size: 1.1rem;
}

.submenu_btn,
.light_theme_submenu_btn {
  margin-top: 0.8rem;
  font-size: 0.9rem;
  color: #ebebeb;
}
.light_theme_submenu_btn {
  color: #0f0f0f;
}

.submenu_btn:hover,
.light_theme_submenu_btn:hover {
  color: #3b3efc;
}

.copyright_container {
  display: flex;
  width: 100%;
  height: 8rem;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}
.socialMedia_header,
.light_theme_socialMedia_header {
  font-family: "Kanit";
  color: #ebebeb;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.05rem;
}
.light_theme_socialMedia_header {
  color: #0f0f0f;
}

.socialMediaIcons_container {
  display: flex;
  justify-content: space-between;
}

.socialMediaIcon,
.light_theme_socialMediaIcon {
  border-radius: 8px;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.socialMediaIcon:hover {
  background-color: #ebebeb;
}
.light_theme_socialMediaIcon:hover {
  background-color: #0f0f0f;
}
