.signUp_form {
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.signUp_notice {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
}
.label_wrapper {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  font-family: "Lato";
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: #d6d6d6;
  position: relative;
}
.email_input,
.password_input,
.username_input {
  width: 100%;
  padding: 0.2rem;
  border-radius: 5px;
  border: none;
  background-color: #2f2f2f;
  color: white;
  height: 2rem;
}
.usernameExistNotice {
  font-size: 0.6rem;
  margin-top: 0.3rem;
  color: #f73737;
}

.required_asterisk {
  align-self: flex-start;
  color: red;
  font-size: 1.2em;
  margin-left: 0.3rem;
}
.password_container {
  display: flex;
  justify-content: space-between;
}
.password_input {
  width: 18rem;
}
.passwordEye_btn {
  margin-right: 0.3rem;
}
.passwordEye_btn,
.password_hoverBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.password_notice {
  font-size: 0.6rem;
  letter-spacing: 0.06rem;
  margin-top: 0.4rem;
}
.password_hoverBtn {
  cursor: default;
}
.errorMessage {
  text-align: center;
  font-size: 0.7rem;
  color: #f73737;
}
.dialog,
.username_dialog {
  z-index: 2;
  display: flex;
  justify-content: center;
  position: absolute;
  font-size: 0.85rem;
  font-family: "Lato";
  font-weight: 400;
  top: 100%;
  left: 50%;

  padding: 0.3rem;
  transform: translateX(-50%);
  background-color: #d6d6d6;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
  border-radius: 5px;

  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}
.username_icon:hover + .username_dialog {
  opacity: 1;
  visibility: visible;
}
.password_icon:hover + .dialog {
  opacity: 1;
  visibility: visible;
}

.tos_label {
  display: flex;
  align-items: center;
  margin: 1.1rem 0 1rem 0;
}
.tos_text {
  font-size: 0.8rem;
  font-weight: 400;
}
.tos_checkbox[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.1rem;
  height: 1.1rem;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  margin-right: 0.8rem;
  outline: none;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.tos_checkbox[type="checkbox"]:hover {
  border: 1px solid #48aaf0;
}
.tos_checkbox[type="checkbox"]:checked {
  background-color: #73e979;
}

.tos_link {
  margin-left: 0.3rem;
  color: #48aaf0;
}
.tos_link:hover {
  text-decoration: underline;
}

.verificationCode_container {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.verificationCode_input {
  width: 70%;
  color: #3b3efc;
  font-size: 2rem;
  text-align: center;
  height: 3rem;
  background: #d6d6d6;
  border: none;
  border-radius: 0.3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.6rem;
}
.resendVerificationCode_notice {
  display: flex;
  font-size: 0.7rem;
  margin-top: -1.3rem;
}
.resendCode_btn {
  color: #48aaf0;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 0.2rem;
  font-size: 0.7rem;
}
.resendCode_btn:hover {
  text-decoration: underline;
}

.submit_btn[type="submit"],
.submit_btn_inactive {
  width: 100%;
  font-family: "Kanit";
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0.8rem 0;
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  background-color: #d6d6d6;
  color: #1a1a1a;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.submit_btn[type="submit"]:hover {
  background-color: #3b3efc;
  color: #d6d6d6;
}
.submit_btn:disabled {
  /* Styles for disabled button */
  background-color: gray;
  color: white;
  opacity: 0.5;
  cursor: not-allowed;
}

.submit_btn:not(:hover) {
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.submit_btn_inactive {
  color: #d6d6d6;
  background-color: #929292;
  cursor: not-allowed;
}
.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

/* Verification stuff */

.notificationMessage_container {
  width: auto;
  margin: 1.5rem;
  background-color: #232323;
  padding: 0.8rem;
  border-radius: 8px;
}
.notificationMessage {
  color: #dcdcdc;
  font-family: "Lato";
  letter-spacing: 0.03rem;
}

.login_parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  color: #e6e6e6;
  font-family: "Lato";
  z-index: 99;
}
.login_body {
  width: 28%;
  background-color: #151515;
  border-radius: 24px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.close_btn {
  width: 2rem;
  height: 2rem;
  padding-bottom: 0.3rem;
  text-align: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #e6e6e6;
}
.close_btn:hover {
  color: #1a1a1a;
  background-color: #d6d6d6;
  border-radius: 100%;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.close_btn:not(:hover) {
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}

.signUp_header_wrapper {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signUp_logo {
  margin-bottom: 1rem;
}

.signUp_message {
  align-self: center;
  margin-bottom: 1rem;
}

/* Sign In Notice */
.signIn_text {
  align-self: center;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0.5rem;
}
.signIn_link {
  font-weight: 600;
  letter-spacing: 0.03rem;
  margin-left: 0.3rem;
  color: #48aaf0;
  cursor: pointer;
}
.signIn_link:hover {
  text-decoration: underline;
}
.backToOptions {
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0.5rem;
  color: #48aaf0;
  cursor: pointer;
}
.backToOptions:hover {
  text-decoration: underline;
}
