* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Lato", "sans-serif";
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus {
  transition: 0.15s ease-in-out;
  outline: 0.2px solid #3b3efc;
}

/* Target the placeholder of an input element */
input::placeholder {
  /* Add your styles here */
  color: gray;
  font-style: italic;
}

/* Target the placeholder of a select element */
select::placeholder {
  /* Add your styles here */
  color: gray;
  font-style: italic;
}
