.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.7rem;
  position: relative;
}

.navbar_logo__container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.combosPage_submenu_parent,
.about_submenu_parent {
  opacity: 0;
  transition: visibility 0s linear, opacity 0.1s ease-in-out;
  visibility: hidden;
}

#combosPageBtn:not(:hover) .combosPage_submenu_parent {
  transition-delay: 50ms;
}

#aboutBtn:hover .about_submenu_parent,
#combosPageBtn:hover .combosPage_submenu_parent {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
#aboutBtn,
#combosPageBtn {
  cursor: default;
}

.combosPage_submenu_container,
.about_submenu_parent {
  display: flex;
  justify-content: space-around;
  position: absolute;
  background-color: #f8f8f8;
  width: 30rem;
  top: 4.2rem;
  padding: 1.2rem 1rem;
  border-radius: 0.3rem;
  color: #1a1a1a;
  z-index: 99;
}
.combosPage_submenu_container {
  width: 35rem;
  left: 6.5rem;
}
.about_submenu_parent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.85rem;
  font-family: "Open Sans";
  font-weight: 600;
  letter-spacing: 0;
  padding: 1rem 0;
  left: 9.5rem;
}

.arrowUp {
  position: absolute;
  top: 3.7rem;
  left: 13.5rem;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #f8f8f8;
}

.combosPage_submenu {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.combosPage_submenu_header {
  font-size: 0.9rem;
  font-family: "Kanit";
  font-style: italic;
  color: #1f1f1f;
}

.combosPage_submenu_btn {
  margin: 0;
  width: 10.5rem;
}

.mobileMenu__container {
  z-index: 4;
}

.mobileMenu__navParent {
  position: absolute;
  top: 0.8%;
  left: 50%;
  width: 95vw;
  height: 78vh;
  margin-left: -47.5vw;
  z-index: 2;
  border-radius: 4px;
}

.mobileMenu__navContainer {
  padding-top: 3.5rem;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobileMenu__navContainer__btn {
  width: 6rem;
  height: 2.5rem;
  margin-bottom: 1.8rem;
  font-size: 0.7rem;
}

/* Desktop overrides */
.navbar_btn__container {
  display: none;
}

.profileBtn_container {
  width: auto;
  display: flex;
  justify-content: center;
}

.profileBtn_username {
  font-family: "Kanit";
  letter-spacing: 0.2;
  color: #5263fa;
}

@media (min-width: 700px) {
  .mobileMenu__container {
    display: none;
  }

  .navbar {
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1.5rem 1rem 2rem;
  }

  .navbar_logo__container {
    width: auto;
  }

  .navbar_logo {
    margin-right: 0;
  }

  .navbar_btn__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .authNavContainer {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-left: auto;
  }

  .themeToggle_btn_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
  }
  .themeToggle_btn {
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 0.1rem;
    border-radius: 100%;
    border: none;
  }
  .themeToggle_btn_text {
    font-size: 0.6rem;
  }
  .nav_btn,
  .nav_hoverBtn,
  .light_theme_nav_btn,
  .light_theme_nav_hoverBtn {
    cursor: pointer;
    font-family: "kanit";
    font-size: 0.65rem;
    letter-spacing: 0.07rem;
    margin-right: 0.5rem;
    padding: 0.3rem 0.5rem;
    color: #ebebeb;
    border: none;
    background: transparent;
    border-radius: 4px;
    transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
  }
  .nav_hoverBtn {
    cursor: default;
  }
  .light_theme_nav_btn,
  .light_theme_nav_hoverBtn {
    color: #1f1f1f;
  }
  .nav_btn:not(:hover) {
    transition: all 0.1s cubic-bezier(0.2, 0.5, 0.8, 0.9);
  }
  .nav_btn:hover {
    background-color: #ebebeb;
    color: #1f1f1f;
    transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
  }
  .light_theme_nav_btn:hover {
    background-color: #1f1f1f;
    color: #ebebeb;
    transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
  }

  .combosPage_submenu_btn,
  .combosPage_submenu_btn_disabled {
    color: #1a1a1a;
    font-family: "Kanit";
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    margin: 0 1rem;
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: transparent;
    z-index: 2;
  }
  .combosPage_submenu_btn:hover {
    color: #5263fa;
  }
}

.navbar_profileBtn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-bottom: 0.3rem;
}

.arrow_btn {
  margin: 0 0.5rem 0 0.5rem;
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  z-index: 2;
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: #5263fa;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}

.dropdownMenu,
.light_theme_dropdownMenu {
  position: absolute;
  width: auto;
  top: 3.5rem;
  right: 2.3%;
  background-color: #dcdcdc;
  color: #1f1f1f;
  border-radius: 4px;
}
.light_theme_dropdownMenu {
  color: #ebebeb;
  background-color: #aeaeae;
}

.dropdown_container,
.submenu_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0.5rem 1rem;
}

.submenu_container {
  align-items: flex-start;
}

.dropdown_item_btn,
.submenu_item_btn,
.dropdown_logout_btn {
  font-family: "Kanit";
  font-weight: lighter;
  letter-spacing: 0.03rem;
  cursor: pointer;
  padding: 0.2rem;
  background-color: transparent;
  border: none;
  transition: all 0.1s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.submenu_link {
  margin-bottom: 0.1rem;
}
.submenu_item_btn {
  font-size: 0.7rem;
}

.dropdown_logout_btn {
  color: #fb4b4e;
  font-size: 0.85rem;
  align-self: center;
  text-align: center;
  border-radius: 4px;
}

.dropdown_logout_btn:hover {
  background-color: #f32a2a;
  color: white;
}

.dropdown_item_btn:hover,
.submenu_item_btn:hover {
  background-color: #1a1a1a;
  color: #d6d6d6;
  border-radius: 0.25rem;
}

.combosPage_submenu_btn,
.combosPage_submenu_btn_disabled {
  width: auto;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: normal;
  padding: 0.2rem 0;
  color: #2e2e2e;
  margin-top: 0.11rem;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0.3rem;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
}
.combosPage_submenu_btn_disabled {
  color: #949393;
  cursor: default;
}
