.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.7rem;
}
.navbar_logo__container {
  display: flex;
  align-items: center;
  z-index: 4;
}
.navbar_logo {
  position: relative;
}

.combosPage_submenu_parent,
.about_submenu_parent {
  opacity: 0;
  transition: visibility 0s linear, opacity 0.1s ease-in-out;
  visibility: hidden;
}
.classic_nav_hoverBtn:hover .combosPage_submenu_parent {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.classic_nav_hoverBtn:not(:hover) .combosPage_submenu_parent {
  transition-delay: 50ms;
}
#aboutBtn:hover .about_submenu_parent {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.combosPage_submenu_container,
.about_submenu_parent {
  display: flex;
  justify-content: space-around;
  position: absolute;
  background-color: #f8f8f8;
  width: 30rem;
  top: 4.2rem;
  left: 14.5rem;
  padding: 1.2rem 1rem;
  border-radius: 0.3rem;
  color: #1a1a1a;
}
.about_submenu_parent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.85rem;
  font-family: "Open Sans";
  font-weight: 600;
  letter-spacing: 0;
  padding: 1 0;
}

.arrowUp {
  position: absolute;
  top: 3.7rem;
  left: 16.5rem;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #f8f8f8;
}
.combosPage_submenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.combosPage_submenu_header {
  font-size: 0.9rem;
  font-family: "Kanit";
  font-style: italic;
  color: #000;
}
.combosPage_submenu_btn {
  margin-left: 0;
  margin: 0;
  width: 10.5rem;
}
.mobileMenu__container {
  z-index: 4;
}
.mobileMenu__navParent {
  position: absolute;
  top: 0.8%;
  left: 50%;
  width: 95vw;
  height: 78vh;
  margin-left: -47.5vw;
  z-index: 2;
  border-radius: 4px;
}
.mobileMenu__navContainer {
  padding-top: 3.5rem;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobileMenu__navContainer__btn {
  width: 6rem;
  height: 2.5rem;
  margin-bottom: 1.8rem;
  font-size: 0.7rem;
}

/* Dekstop overrides */
.navbar_btn__container {
  display: none;
}
/* After the minimum width of 700 pix is passed, mobile UI turns to desktop version */
@media (min-width: 700px) {
  .mobileMenu__container {
    display: none;
  }

  .navbar {
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem 1rem 1rem 3rem;
  }

  .navbar_logo__container {
    width: auto;
  }
  .navbar_logo {
    margin-right: 0;
  }

  .navbar_btn__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
  }
  .themed_nav_btn,
  .classic_nav_btn {
    cursor: pointer;
    font-family: "Lato";
    font-size: 0.8rem;
    margin-right: 2rem;
    padding: 0.3rem 0.5rem;
    color: #f1f0f0;
    background-color: rgba(0, 0, 0, 0.6);
    border: 0.5px solid #505050;
    transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
  }
  .classic_nav_btn,
  .classic_nav_hoverBtn,
  .combosPage_submenu_btn {
    color: #1a1a1a;
    font-family: "Kanit";
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    margin: 0 1rem;
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
  }

  /*-- HOVER BUTTONS MANIA -- */
  .classic_nav_btn:hover {
    background-color: #1a1919;
    color: #e6e6e6;
    transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
  }

  .combosPage_submenu_btn:hover {
    color: #f84242;
  }

  .classic_nav_btn:not(:hover) {
    transition: all 0.1s cubic-bezier(0.2, 0.5, 0.8, 0.9);
  }
  .themed_nav_btn,
  .themed_nav_hoverBtn {
    font-size: 0.7rem;
    border: none;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
  }
  .themed_nav_btn:hover,
  .themed_nav_hoverBtn {
    border-top: 2px solid #69eec3;
    border-left: 2px solid #69eec3;
  }
  .profileBtn_container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .themed_profileBtn {
    cursor: pointer;
    width: 4rem;
    height: 3.5rem;
    margin-bottom: 0.4rem;
  }

  .themed_profileBtn_username,
  .themed_profileBtn_logOut,
  .classic_profileBtn_username,
  .classic_profileBtn_logOut {
    font-family: "Kanit";
    font-style: italic;
    font-weight: 600;
    line-height: 12px;
    font-size: 0.75rem;
    color: #69eec3;
  }
  .classic_profileBtn_username,
  .classic_profileBtn_logOut {
    color: black;
  }
  .themed_profileBtn_logOut,
  .classic_profileBtn_logOut {
    font-weight: 400;
    font-size: 0.7rem;
    background: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
  }
  .classic_profileBtn_logOut:hover {
    color: #f84242;
    text-decoration: 1px underline #f84242;
  }
  .themed_profileBtn_logOut:hover {
    text-decoration: 1px underline #69eec3;
  }
}
.navbar_profileBtn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-bottom: 0.3rem;
}
.arrow_btn {
  margin: 0 0.5rem 0 0.5rem;
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  z-index: 2;
}
.icon {
  width: 2rem;
  height: 2rem;
  fill: #69eec3;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}
.dropdownMenu {
  position: absolute;
  width: auto;
  top: 2%;
  right: 1.3%;
  background-color: #d6d6d6;
  border-radius: 4px;
}
.dropdown_container,
.submenu_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0.5rem 1rem;
}
.submenu_container {
  align-items: flex-start;
}
.dropdown_item_btn,
.submenu_item_btn,
.dropdown_logout_btn {
  font-family: "Kanit";
  font-weight: lighter;
  letter-spacing: 0.03rem;
  cursor: pointer;
  padding: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: transparent;
  border: none;
  transition: all 0.1s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.submenu_item_btn {
  font-size: 0.7rem;
}
.dropdown_logout_btn {
  color: #f84242;
  font-size: 0.85rem;
  align-self: center;
  text-align: center;
  border-radius: 4px;
}
.dropdown_logout_btn:hover {
  background-color: #f84242;
  color: #d6d6d6;
}
.dropdown_item_btn:hover,
.submenu_item_btn:hover {
  background-color: #1a1a1a;
  color: #d6d6d6;
  border-radius: 0.25rem;
}
.combosPage_submenu_btn {
  width: auto;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: normal;
  padding: 0.2rem 0;
  color: #2e2e2e;
  margin-top: 0.11rem;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0.3rem;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
}
.classic_nav_hoverBtn {
  cursor: default;
}
