.post_parent {
  background-color: #0d0d0d;
  color: #ebebeb;
}
.light_theme_post_parent {
  color: #0d0d0d;
  background-color: #aeaeae;
}
.post_parent,
.light_theme_post_parent {
  transition: background-color 0.7s cubic-bezier(0.7, 0, 0.3, 1);
}
/* Wrappers */
.gameTitle_wrapper,
.gameInfo_input_wrapper,
.light_theme_gameInfo_input_wrapper,
.stringsOptions_stringType_wrapper,
.stringsOptions_comboStrings_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.gameInfo_input_wrapper {
  color: #ebebeb;
}
.light_theme_gameInfo_input_wrapper {
  color: #1f1f1f;
}

/* Border style of inputs and buttons alike */
.borderStyle,
.gameInfo_input,
.hitsInfo_input,
.dmgInfo_input,
.stringsOptions_comboStrings,
.gameTitle_input,
.light_theme_dmgInfo_input,
.light_theme_hitsInfo_input,
.light_theme_gameInfo_input,
.light_theme_stringsOptions_comboStrings,
.light_theme_gameTitle_input,
.selectDropdownContainer,
.light_theme_selectDropdownContainer {
  background-color: #1f1f1f;
  color: #ebebeb;
  border: none;
  border: 1px solid #3b3efc;
  padding: 0.5rem;
  border-radius: 8px;
  margin-top: 0.3rem;
}
.light_theme_gameInfo_input,
.light_theme_dmgInfo_input,
.light_theme_hitsInfo_input,
.light_theme_stringsOptions_comboStrings,
.light_theme_gameTitle_input,
.light_theme_selectDropdownContainer {
  color: #1f1f1f;
  background-color: #dcdcdc;
}

.dmgInfo_input,
.light_theme_dmgInfo_input {
  width: 3.4rem;
  text-align: center;
}
.hitsInfo_input,
.light_theme_hitsInfo_input {
  text-align: center;
  width: 2rem;
  height: 2rem;
}

.stringsOptions_stringType,
.light_theme_stringsOptions_stringType {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center;
  background: transparent;
  color: #ebebeb;
  border: none;
}
.light_theme_stringsOptions_stringType {
  color: #1f1f1f;
}

.stringsOptions_stringType option {
  font-size: 0.9rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: auto;
  background-color: #1f1f1f;
}
.light_theme_stringsOptions_stringType option {
  background-color: #dcdcdc;
}

.selectDropdownContainer,
.light_theme_selectDropdownContainer,
.tagInput,
.light_theme_tagInput {
  margin-top: 0.3rem;
  border: 1px solid #3b3efc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 0.3rem;
  color: #ebebeb;
  background-color: #1f1f1f;
}
.light_theme_tagInput {
  color: #0f0f0f;
  background-color: #dcdcdc;
}
.light_theme_selectDropdownContainer {
  background-color: #dcdcdc;
}
.selectDropdownContainer,
.light_theme_selectDropdownContainer {
  text-align: center;
}
.tagInput_container {
  display: flex;
  align-items: center;
}
.tagInput,
.light_theme_tagInput {
  width: 6.7rem;
  height: 1.7rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
}

.tagAdd_btn,
.light_theme_tagAdd_btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  background-color: #6164f3;
  margin-top: 0.3rem;
  width: 2.5rem;
  height: 1.7rem;
  color: #ebebeb;
  font-size: 0.6rem;
  font-family: "lato";
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.tagAdd_btn:hover {
  background-color: #3b3efc;
  transition: background-color 0.2s cubic-bezier(0.7, 0, 0.3, 1);
}
.tagAdd_btn:disabled,
.light_theme_tagAdd_btn:disabled {
  /* Styles for disabled button */
  background-color: gray;
  color: #ebebeb;
  opacity: 0.5;
  cursor: not-allowed;
}
.light_theme_tagAdd_btn:disabled {
  background-color: #6d6c6c;
}

.content_container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.authorPost_draft_notice {
  font-size: 0.8rem;
}

.form_container,
.light_theme_form_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 65rem;
  height: 65rem;
  margin-bottom: 5rem;
  padding: 0 1rem;
  background-color: #292929;
  border-radius: 8px;
}
.light_theme_form_container {
  background-color: #dcdcdc;
}

.gameInfo_input_container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-top: 1.2rem;
}

.gameInfo_input,
.light_theme_gameInfo_input {
  width: 6rem;
  height: 2.2rem;
  padding: 1rem;
}

.gameTitle_input,
.light_theme_gameTitle_input {
  width: 30rem;
}

/* Strings option section */
.stringsOptions_container,
.light_theme_stringsOptions_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55%;
  border-radius: 8px;
  background-color: #1f1f1f;
  padding: 0.5rem;
}
.light_theme_stringsOptions_container {
  background-color: #aeaeae;
}

.stringsOptions_comboStrings,
.light_theme_stringsOptions_comboStrings {
  width: 100%;
  height: 2.5rem;
  font-size: 0.7rem;
  letter-spacing: 0.08rem;
}

.submitPost_btn {
  width: 50%;
  font-family: "Kanit";
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: #6164f3;
  color: white;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}

.submitPost_btn:hover {
  background-color: #3b3efc;
}
.submitPost_btn:disabled {
  /* Styles for disabled button */
  background-color: gray;
  color: white;
  opacity: 0.5;
  cursor: not-allowed;
}

.comboInfo_input_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 82%;
}

.placeholderOption {
  font-style: normal;
  color: #ebebeb;
}

/* Tag input styling */
.tagTextOptional,
.light_theme_tagTextOptional {
  color: #aeaeae;
  font-size: 0.7rem;
  margin-left: 0.2rem;
}
.light_theme_tagTextOptional {
  color: #292929;
}

.tagInput_container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.tagItem {
  padding: 0.35rem;
  background-color: #6164f3;
  border-radius: 4px;
  color: #ebebeb;
  font-size: 0.7rem;
  font-family: "Lato";
  font-weight: 600;
  letter-spacing: 0.04rem;
  margin: 0.3rem;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}

.tagItem:hover {
  background-color: #f13f39;
}

.selectGame_parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25rem;
}
.selectGame_container {
  padding: 1rem;
  border-radius: 8px;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.selectGame_header,
.light_theme_selectGame_header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
