.search__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.search__comboSection_header {
  background-color: gold;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
.search__filterContainer {
  background-color: indigo;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.search__filterOption_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search__filterBtnText {
  text-align: center;
  font-size: 0.6rem;
  padding-bottom: 0.4rem;
}
/* Deprecated/ Now they are Dropdown buttons */
/* .search__filterBtn {
  padding: 0.1rem 0.3rem;
} */

.search__searchBar {
  width: 15rem;
  padding: 0.4rem;
}
@media (min-width: 700px) {
  .search__filterContainer {
    width: 40%;
  }
}
