.searchBar_filterBtn {
  position: absolute;
  right: 29.5rem;
  background-color: #1a1a1a;
  border: none;
  font-family: "Kanit";
  font-style: italic;
  color: #d6d6d6;
  width: 5.5rem;
  height: 2.1rem;
  text-align: center;
  cursor: pointer;
  font-size: 0.8rem;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.searchBar_searchBtn {
  background-color: #5a5cfd;
  border-radius: 0 4px 4px 0;
  padding: 0.55rem;

  width: 3rem;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.searchBar_searchBtn:hover {
  background-color: #3b3efc;
}

.searchBar_searchBtn,
.searchBar_filterBtn {
  border: none;
}

.searchBar_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar_input,
.light_theme_searchBar_input {
  font-family: "Open Sans";
  width: 30rem;
  height: 2.1rem;
  padding: 0.4rem;
  background-color: #1a1a1a;
  border: none;
  color: #ebebeb;
  border-radius: 4px 0 0 4px;
}
.light_theme_searchBar_input {
  background-color: #b9b7b7;
  color: #0f0f0f;
}
