.search__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.search_main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.evoAd_container {
  display: none;
}

.themed__comboSection_header,
.classic__comboSection_header {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: #c572ff;
  text-shadow: 0px 0px 6px #c572ff;
  font-family: "Kanit";
  font-style: italic;
  font-weight: 600;
}
.classic__comboSection_header {
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: 2.5rem;
  text-shadow: none;
  text-align: center;
  color: #1a1a1a;
}
.search__filterContainer {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.search__filterOption_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search__filterBtnText {
  text-align: center;
  padding-bottom: 0.4rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}
.classic_filter_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
}
.classic_filter_label {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;

  color: black;
}
.classic_filter_container_btn,
.classic_filter_container_btn--active {
  cursor: pointer;
  width: auto;
  padding: 0.2rem 0.5rem;
  background-color: #1a1a1a;
  font-family: "Kanit";
  letter-spacing: 0.07rem;
  font-weight: 700;
  font-size: 0.8rem;
  color: #d6d6d6;
  border: 0.2rem solid transparent;
  border-radius: 5px;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.classic_filter_container_btn:hover,
.classic_filter_container_btn--active {
  color: red;
  border-left: 0.2rem solid red;
}

.themed__searchBar_container,
.classic__searchBar_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.themed__searchBar_input,
.classic__searchBar_input {
  font-family: "Lato";
  width: 20rem;
  height: 2.2rem;
  padding: 0.4rem;
  background: rgba(14, 14, 15, 0.7);
  border: 0.1px solid #fff;
  border-radius: 4px;
}
.classic__searchBar_input {
  background-color: #1a1a1a;
  border: none;
  border: 0.13rem solid transparent;
}
.classic__searchBar_input:focus {
  border: 0.13rem solid red;
  caret-color: red;
}

@media (min-width: 700px) {
  .search__container {
    flex-direction: row;
    padding: 0.5rem 0 0.5rem 0;
  }
  .evoAd_container {
    display: block;
    width: 20%;
    background-color: limegreen;
  }
  .evoAd {
    width: 10rem;
  }

  /* Main Search Section */
  .search__comboSection_header {
    font-size: 3.5rem;
    align-self: flex-start;
    justify-self: flex-start;
    background-color: transparent;
    padding: 0rem 0 1rem 0;
  }
  .search_main__container {
    width: 68%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .search_container__child {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .search__filterContainer {
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 0 2rem 0;
  }
  .search__filterBtnText {
    color: #fff;
    font-size: 0.7rem;
  }
  .themed__searchBar_container,
  .classic__searchBar_container {
    padding: 0 0 1rem 0;
  }
  .themed__searchBar_input,
  .classic__searchBar_input {
    width: 30rem;
    color: #d6d6d6;
  }
  .themed__searchBar_input:hover {
    border: 0.2px solid #c1f3e3;
  }
  /*   .searchBar_input:active {
    border: 0.2px solid #69eec3;
  } */
}
