/* Parental layout foundation */
.footer_container {
  display: flex;
  flex-direction: column;
}
.footer_body__container {
  display: block;
}

/* Stats Section */
.stats_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 12vw;

  padding-bottom: 1rem;
}
.stats_header {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-family: "Kanit";
  font-style: italic;
  font-weight: 600;
  color: #e9ff61;
}
.stat {
  font-size: 0.8rem;
  padding: 0.2rem;
  font-family: "Lato", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #d9d9d9;
}

/* Quick Navigation Section */
.quickNav_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;

  padding-bottom: 1rem;
}
.quickNav_menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 12vw;
}

.quickNav_header {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Kanit";
  font-style: italic;
  font-weight: 500;

  /* identical to box height */

  color: #e9ff61;
}
.quickNav_btn {
  width: 5rem;
  height: 2rem;
  padding: 0.2rem;
  margin-bottom: 0.7rem;
  font-family: "Lato", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  color: #d9d9d9;
}
.toTop_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  font-family: "Kanit";
  font-style: italic;
  font-weight: 500;
  color: #69eec3;
}

/* Copyright */
.copyright_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.copyright_text__container {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.copyright_text {
  font-size: 0.8rem;
}
.copyright_logo__container {
  order: 1;

  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
/* .copyrightNotice_logo {
} */

@media (min-width: 700px) {
  /* Footer */

  .footer_body__container {
    display: flex;
  }

  .footer_warningBanner {
    width: 65%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
  }

  /* Stats Section*/
  .stats_container {
    width: 55%;
    padding-left: 2.5vw;
    padding-top: 1rem;
    padding-bottom: 5rem;
    justify-content: flex-start;
  }
  .stats_header {
    font-size: 3rem;
    padding-bottom: 0.5rem;
  }
  .stat {
    padding-bottom: 0.8rem;
    font-size: 1rem;
  }

  .footer_divider {
    margin-top: 3rem;
    height: 20rem;
    width: auto;
    color: yellow;
  }

  /* Quick Navigation Section */

  .quickNav_container {
    width: 45%;
  }
  .quickNav_menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2vw;
    padding-top: 1.1rem;
    padding-bottom: 5rem;
  }
  .quickNav_header {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .quickNav_btn {
    width: auto;
    font-size: 1rem;
    margin-bottom: 0.6rem;
  }
  .quickNav_btn:hover {
    color: #69eec3;
    text-decoration: underline #69eec3;
  }
  .toTop_container {
    justify-self: flex-end;
    margin-right: 3rem;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
    transition: opacity 0.2s ease-in-out;
  }

  .toTop_btn {
    width: 0;
    height: 0;
    border-top: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 15px solid #69eec3;
    background: transparent;
    cursor: pointer;
  }
  .toTop_text {
    width: 8rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.75rem;
  }

  /* Copyright Section */
  .copyright_container {
    flex-direction: row;
  }
  .copyright_logo__container {
    width: 52.5%;
    padding-top: 0.8rem;
  }
  .copyright_text {
    font-size: 0.8rem;
    padding-right: 1rem;
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 400;
    color: #e9ff61;
  }
  .copyright_text__container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
}
.evoAd_container {
  width: 55%;
  padding-left: 2.5vw;
  padding-top: 1rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
}
.evoAd {
  position: relative;
  width: 20rem;
}
.cptText {
  color: #69eec3;
  font-family: "Kanit";
  font-style: italic;
}
