.page {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  color: #1a1919;
  background: url("/bgTexture.jpg"), #e6e6e6;
  object-fit: fill;
  background-blend-mode: color-burn, normal;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 6%;
  border-right: 1px solid black;
}

.combo,
.start {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 2.5rem;
  text-orientation: upright;
  writing-mode: vertical-rl;
  color: #212121;
}

.ball {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: red;
  margin: 1rem 0 1rem 0;
}

.start {
  padding-top: 1rem;
  border-radius: 4px;
  color: #e6e6e6;
  background-color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.heroDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Headers */
.headerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5.5rem 0 0 0;
}
.gameNameHeader {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  color: #ff2727;
  font-size: 2rem;
  margin-left: 0.3rem;
}
.heroHeader {
  font-family: "Kanit";
  margin-top: -2rem;
  font-style: normal;
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: 0.06em;
  line-height: 8rem;
  background: linear-gradient(90deg, #1a1919 44.75%, rgba(26, 25, 25, 0) 205%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* HERO LEFT DIV */
.heroLeftDiv {
  display: flex;
  align-items: center;
  padding-left: 5.5vw;
  height: 50vh;
  width: 40%;
}
.heroLeftDivWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.heroParagraph {
  color: #1a1919;
  font-size: 1rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  line-height: 1.3rem;
  max-width: 22rem;
}
.paragraphLogo,
.paragraphGame {
  font-size: 1rem;
  font-family: "Rubik";
  font-weight: 700;
}

/* Combo Selection element */
.comboSelectionContainer {
  display: flex;
}
.comboSelectionHeader {
  margin-top: 1.2rem;
  font-size: 1.2rem;
  background-color: #1a1919;
  color: #e6e6e6;
  padding: 0.5rem;
  border-radius: 10px;
  font-family: "Kanit";
  font-style: italic;
  font-weight: 600;
}
.comboSelectionHeader:hover {
  color: #ff2727;
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.comboSelectionHeader:not(:hover) {
  transition: all 0.2s cubic-bezier(0.2, 0.5, 0.8, 0.9);
}
.comboBtnContainer {
  display: flex;
  width: auto;
  display: flex;
  justify-content: space-evenly;
}
.comboBtn {
  margin: 0.5rem 1rem 3.5rem 1rem;
  background-color: #1a1919;
  width: 5.5rem;
  height: 3rem;
  border: none;
}

/* CTA */
.homeBtnContainer {
  align-self: flex-start;
}
.homeBtn {
  font-size: 1rem;
  font-family: "Kanit";
  font-style: italic;
  font-weight: 600;
  color: #1a1919;
  text-decoration: underline;
  padding-left: 1rem;
}

.heroRightDiv {
  position: relative;
  height: 50vh;
  width: 50%;
  display: flex;
  align-items: flex-start;
}
.headerCombos {
  font-size: 4rem;
  padding: 0 0.5rem 0 0.5rem;
  font-family: "Kanit";
  font-style: italic;
  line-height: 3.8rem;
  font-weight: 700;
  color: #d0d0d0;
  background-color: #1a1919;
  border-radius: 10px;
  z-index: 2;
}

.noticeDiv {
  display: flex;

  align-items: flex-end;
  height: 3rem;
  width: 100%;
}

.noticeDivWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 1rem;
  width: auto;
  padding: 0 0.15rem 0 0.15rem;

  /*   background-color: #1a1919; */
  margin-left: 5rem;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-bottom: 1.8rem solid #1a1919;
}

.noticeSocialMediaWrapper {
  display: flex;
  justify-content: space-around;
  margin-left: 4.4rem;
  padding-bottom: 1rem;
  width: 10%;
}

.noticeHeader {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  font-family: "Kanit";
  font-style: italic;
  font-weight: 600;
  color: #d0d0d0;
}

@media screen and (max-width: 768px) {
  .page {
    flex-direction: column;
  }

  .leftColumn {
    height: auto;
    width: 100%;
    align-items: center;
  }

  .comboStart {
    writing-mode: horizontal-tb;
    transform: none;
  }

  .container {
    flex-direction: column;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .headerDiv {
    text-align: center;
  }

  .heroDiv {
    flex-direction: column;
  }

  .heroLeftDiv {
    width: 100%;
  }

  .heroRightDiv {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .navbar button {
    margin: 0.5rem;
  }

  .headerDiv h2 {
    font-size: 1.5rem;
  }

  .headerDiv h3 {
    font-size: 1rem;
  }

  .noticeDiv {
    height: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .navbar button {
    padding: 0.25rem 0.5rem;
  }

  .headerDiv h2 {
    font-size: 1.2rem;
  }

  .headerDiv h3 {
    font-size: 0.8rem;
  }

  .noticeDiv {
    height: 2rem;
  }
}
